html, body{
height: 100%;
width: 100%;
}
.butten{
    width: 65px;
    padding: 20px;
    margin: 0 2px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}
.row{
    margin: 5px 0;
}
.row input{
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}